h1 {
    text-align: center;
    font-size: 6em;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 400;
    line-height: 2;
    margin: 1em 0 1em 0;
    letter-spacing: -0.050em;
    color:whitesmoke;
}

p {
    text-align: left;
    font-size: 2em;
    font-family: Bookman, URW Bookman L, serif;
}

#eduInfo {
    background-color:#DC6BAD;
    color: whitesmoke;
    width: 45%;
}