@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  background-color: #001514;
   font-family: 'Inconsolata', monospace;
  }

body {
  display: flex;
  justify-content: center;
}

header {
display: flex;
font-family: 'Montserrat', sans-serif;
top: 20px;
font-size: 25px;
justify-content: center;
color: #E0E2DB;
text-shadow: 1px 1px 1px #04A777;
}

header a{
  color: #E0E2DB;
  text-decoration: none;
}

header a:visited{
  color: #E0E2DB;
  text-decoration: none;
}

header a:hover{
  color: #04A777;
}

main{
  display: flex;
  flex-direction: column;
}

#typewriter-area {
  color: #04A777;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;

}

#intro {
  font-size: 8vh;
  margin: 4vw;
  z-index: 1;
  position: absolute;
}

#access-intro{
  opacity: 0;
  height: fit-content;
  z-index: 0;
}

#arrow {
  position: absolute;
  padding-top: 20;
  bottom: 3%;
  font-size: 6vh;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}

#my-projects {
  min-height: 90vh;
  width: 90vw;
  border-radius: 10px;
  margin: auto;
  background-color: #E0E2DB;
  overflow: auto;
  padding-bottom: 5%;
}

#my-projects h2{
  background-color: inherit; 
  font-size: 8vh; 
  margin: 30px;
  color: #001514;
}

.each-project{
  background-color: #E0E2DB;
  position:relative;
}

.each-project a{
  background-color: rgba(255, 182, 193, 0.824);
  font-size: 10vh;
  position: absolute;
  padding: 10px;
  min-width: max-content;
  top: 15vh;
  left: 5vw;
  z-index: 1;
  text-shadow: 1px 1px 1px grey;
  font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  color: #001514;
  text-decoration: none;
}

.each-project-img{
  width: 80%;
  margin: 2% 10% 2% 10%;
  z-index: 0;
  opacity: .5;
  border-radius: 20px;
}

#contact-me{
  height: 100vh;
  width: 100vw;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#contact-me h2{
  color: #04A777;
  font-size: 5vh;
  text-align: center;
}

#social-media{
  height: max-content;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.socials{
  height: 20vh;
}

@media only screen and (max-width: 800px){
header{
  font-size: 3vh;
}
  #intro{
  font-size: 6vh;
  min-height: 400px;
  max-height: 600px;
  margin: 2vw;
}
.each-project a{
  top: 4vh;
  left: 3.5vw;
  font-size: 5.6vh;
}
.each-project-img{
  width: 95%;
  margin: 2%;
}
#contact-me h2{
  font-size: 7vh;
}
.socials{
  height: 10vh;
  margin: auto;
}
}

@keyframes blinkingText{
    0%{ color: #04A777; }
    49%{ color: #04A777; }
    60%{ color: transparent; }
    99%{ color: transparent; }
    100%{ color: #04A777; }
}