//google fonts
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit&display=swap');

// variables
$dusty-orange: #c98176;
$black: #18161e;
$brown: #87705f;
$grey:#cfc9c8;

//fonts
$outfit: 'Outfit', sans-serif;
$birthstone: 'Birthstone Bounce', cursive;
$montserrat: 'Montserrat', sans-serif;

//sizes
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.App {
background-color: #cfc9c8;
}

#top-section {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
  span.sub {
    margin: auto 4em;
    cursor: pointer;
    color: $black;
    font-weight: bold;
  }
  span.sub:hover{
    color: $dusty-orange;
  }
  h3 {
    margin-left: 2em;
    font-family: $outfit;
  }
}

#first-section{
  display: flex;
  justify-content: center;
  height: 72vh;

  #name-and-headshot{
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 1216px;
      
    h1 {
        font-size: 128px;
        background: transparent;
        font-family: $birthstone;
    }
    #name-wrapper{
      display: flex;
      flex-direction: column;
      max-height: 40em; 
      position: relative;
    }
    .name{
        margin: 0px;
    }
    img{
      height: 40em;
      width: auto;
      position: relative;
    }
    p {
      font-family: $outfit;
      font-size: 24px;
    }
  }

  #info-modal{
    .title{
      font-family: $outfit;
    }
    button.btn{
      background-color: $dusty-orange;
      border-color: $dusty-orange;
    }
    button.btn:hover{
      background-color: $black;
      color: $grey;
    }
  }
}

// @media screen and (max-width: 800px) {
//   #name-and-headshot {
//     flex-direction: column;
//     #name-wrapper {
//       height: max-content;
//     }
//   }
// }



